.left{
  background-color: #BD2121;
  padding: 70px;
  width: 450px
}
.right{
  background-color: #215ABD;
  color: #FFFFFF;
  padding: 89px;
}
.name{
  width: 100%;
}
body{
  margin: 0;
  padding: 0;
}
.col-lg-12{
  padding: 0;
  margin: 0;
  width: 100%;
}
.output{
  background-image: url("../img/Assets/ping-pong.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 50px;
  color: orange;
  font-weight: bold;
}

.button{
  border-radius: 50%;
  background-color: orange;
  color: white;
padding: 20px;
text-align: center;
font-size: 16px;
}
